@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}
html {
  font-size: 8px;
}
body {
  margin: 0;
  /* background-color: #3e497adc ; */
  background-image: linear-gradient(to right, #12224c, #022464, #00247b, #002292, #001ca7, #7304a2, #a70098, #cf008d, #fb2a6a, #ff6544, #ff9c1b, #f1d00a);
  /* background-image: linear-gradient(to bottom, #21325e, #21325e, #21325e, #21325e, #21325e, #40386d, #603d77, #80407d, #c34877, #f3645d, #ff9536, #f1d00a); */
  /* background-image: linear-gradient(to bottom, #21325e, #213363, #213567, #21366c, #213771, #473a7a, #683a7e, #873a7d, #bb416c, #d85d51, #dd8736, #cab430); */
  color: #F0F0F0;
  /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
  font-family: 'Inconsolata', monospace;
}
form {
  /* border: 2px #F1D00A solid; */
  box-shadow: 0 0 7px 1px #F1D00A, -15px 15px 15px 1px #000000  ;
  max-width: 65rem;
  min-width: 25rem;
  text-align: center;
  margin: 2rem auto 2rem;
  padding: 1rem 3rem 5rem;
  background-color: #21325E;
  border-radius: 2rem;
}
form h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 3.5rem;
}
form label {
  display: block;
  margin-bottom: 1rem;
  font-size: 2.4rem;
}
form input {
  height: 4rem;
  width: 30rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  border-style: none;
  border-radius: 1rem;
  padding: 1rem;
  outline: none;
  /* background-color: #BBC5FC; */
}
 form input:focus:not(.get-btn, .reset-btn) {
  box-shadow: 0 0 3px 1px #F1D00A  ;
  height: 5rem;
  width: 40rem;
 }

form .get-btn,
form .reset-btn{
  width: 40rem;
  height: 5rem;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  /* font-family: 'Roboto Mono', monospace; */
}
form .get-btn{
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border: 1.8px solid #04AA6D;
  color: green;
}
form .get-btn:hover,
form .get-btn:focus-visible {
  background-color: #04AA6D;
  color: white;
}

form .reset-btn {
  border: 1.8px solid #f44336;
  color: red;
}

form .reset-btn:hover,
form .reset-btn:focus-visible {
  background: #f44336;
  color: white;
}

#idCardDiv {
  font-size: 8px;
}
table {
  margin: 50px auto;
  min-width: 50em;
  height: 28em;
  background-color: #F1D00A;
  color: #0f0f0f;
  padding: 0 2em 3em;
  border-radius: 2em;
  border: 0.3em black solid;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  box-shadow: 0px 0px 5px 0px #47eaff, -15px 15px 15px 1px #000000  ;


}
/* table td {
  font-size: 2.4em;
} */
table .full-name {
  font-size: 3.5em;
  font-weight: 800;
  text-align: center;
}
table img {
  width: 8em;
  margin: 1em;
  margin-right: 2em;
  margin-left: 0;
}
table .card-image {
  width: 8em;
}

td p {
  margin: 0 0 0 0.3em;
  font-size: 2.4em;
}

#idCardDiv {
  display: none;
}